/* font-family: 'Dancing Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
   background-color: #ffce45;
   text-align: center;
}
.h1 {
   color: #7e370c;
   font-size: 3rem;
   margin-top: 10%;
   text-transform: uppercase;
   font-family: "Dancing Script", cursive;
}
.timer-container {
   font-size: 2rem;
   justify-content: center;
   flex-direction: row;
   display: flex;
   font-family: "Dancing Script", cursive;
   align-items: center;
}

.timer-inner {
   padding: 10px 5px 10px 5px;
   width: 15%;
   color: #d4ac2b;
   box-shadow: 5px 5px 5px #7e370c;
   background-color: #b05e27;
   margin: 5px 5px 5px 5px;
}

@media (max-width: 1050px) {
   .h1 {
      font-size: 1.2rem;
   }
}
